<!DOCTYPE html>
<html lang="en">

<head>
    <title>Enrise - Video Ads Displays</title>

    <% include ./partials_template/header %>

</head>

<body>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-9">
                <h1>about the company</h1>
            </div>

        </div><!-- row -->

    </div><!-- /.container -->


    <% include ./partials_template/footer %>

</body>

</html>
