<!DOCTYPE html>
<html lang="en">

<head>
    <title>Enrise - Video Ads Displays</title>

    <% include ./partials_template/header %>

</head>

<body>

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <h1>Welcome to Enrise video ads testing page:</h1>
            <p>
            <div class="col-md-3">
                    <a href="/test1"> all ads play at the sametime </a>
                    <br>
                    <a href="/test2"> only main-ad plays on start</a>
                    <br>
                    <a href="/test3"> new video player </a>
            </div>
            </p>

        </div><!-- row -->
    </div><!-- /.container -->


    <% include ./partials_template/footer %>

</body>

</html>
