<!DOCTYPE html>

<header>
 <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/main.css" rel="stylesheet">

</header>
<body>
<h1>Bootstrap 3 Responsive Video Embeds that Maintain Aspect Ratio <i class="fa fa-heart"></i></h1>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
   
      <h2>16:9 Responsive Aspect Ratio</h2>
<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="//www.youtube.com/embed/ePbKGoIGAXY"></iframe>
</div>
    </div>
    <div class="col-sm-6">
 

      <h2>4:3 Responsive Aspect Ratio</h2>
<div class="embed-responsive embed-responsive-4by3">
    <iframe class="embed-responsive-item" src="//www.youtube.com/embed/ePbKGoIGAXY"></iframe>
</div>
    </div>
  </div>
</div>
</body>
</html>
