<!DOCTYPE html>
<html lang="en">

<head>
    <title>Enrise - Video Ads Displays</title>

    <% include ./partials_template/header %>

</head>

<body>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-3">
                    <a href="/test1"> all ads play at the sametime </a>
            </div>

            <div class="col-md-3">

                    <a href="/test2"> only main ad plays </a>
            </div>


        </div><!-- row -->

    </div><!-- /.container -->


    <% include ./partials_template/footer %>

</body>

</html>
