<!DOCTYPE html>
<html lang="en">

<head>
    <title>Enrise - Video Ads Displays</title>

    <% include ./partials_template/header %>

    <link href="/css/videoplayer.css" rel="stylesheet">
       <!-- optimize mobile versions -->
   <!-- optimize mobile versions -->
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <!-- The "minimalist" skin, "functional.css", "minimalist.css" and "playful.css" are available -->
   <link rel="stylesheet" href="//releases.flowplayer.org/6.0.5/skin/minimalist.css">

   <!-- Minimal styling for this standalone page (can be removed) -->
   <style>
   body {
      font-family: "myriad pro", tahoma, verdana, arial, sans-serif;
      font-size: 14px;
      margin: 0;
      padding: 0;
   }
   #content {
      margin: 50px auto;
      max-width: 982px;
   }
   
</style>

   <!-- CSS for this demo -->
   <link rel="stylesheet" href="//flowplayer.org/media/css/demos/playlist/classic.css">
   
      <!-- Flowplayer depends on jquery for video tag based setups -->
   <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
   
   <!-- Flowplayer-->
   <script src="//releases.flowplayer.org/6.0.5/flowplayer.min.js"></script>

   <!-- Flowplayer hlsjs engine for smoother HLS playback in modern browsers (optional) -->
   <script src="//releases.flowplayer.org/hlsjs/flowplayer.hlsjs.min.js"></script>


<!-- quality selector stylesheet for HLS level selection -->
<link rel="stylesheet" href="//releases.flowplayer.org/quality-selector/flowplayer.quality-selector.css">

<!-- hlsjs plugin -->
<script src="//releases.flowplayer.org/hlsjs/flowplayer.hlsjs.min.js"></script>

<script>
// wait until DOM is ready
$(function () {

    // manual installation into container element with id="classic"
    $("#classic").flowplayer({
        splash: true,
        ratio: 9/16,
        // HLS level selection provided by hlsjs plugin
        hlsQualities: [1, 3, 6, 7],
        embed: {
            // include the whole playlist when embedding
            playlist: true,
            // embed with same skin
            skin: "//releases.flowplayer.org/6.0.5/skin/minimalist.css"
        }
    });

});
</script>

</head>

<body>
<div id="content">

<div id="classic" class="is-closeable">

   <video>
      <source type="application/x-mpegurl"
              src="//stream.flowplayer.org/night3.m3u8">
      <source type="video/webm"
              src="//stream.flowplayer.org/night3.webm">
      <source type="video/mp4"
              src="//stream.flowplayer.org/night3.mp4">
      </video>

   <div class="fp-playlist">
      <a href="//stream.flowplayer.org/night3.mp4" id="thumb1"></a>
      <a href="//stream.flowplayer.org/night5.mp4" id="thumb2"></a>
      <a href="//stream.flowplayer.org/night6.mp4" id="thumb3"></a>
      <a href="//stream.flowplayer.org/night1.mp4" id="thumb4"></a>
   </div>

</div>


</div><!--/end content -->
</body>

</html>