<!DOCTYPE html>
<html lang="en">

<head>
    <title>Enrise - Video Ads Displays</title>

    <% include ./partials_template/header %>

</head>

<body>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-3">
                <div class="list-group"> <!-- use for loop to show all list obj -->
                           <div class="col-sm-12">

                            <% include ./partials_template/video_menu %>

                                <div class="embed-responsive embed-responsive-4by3"  id="clicktoview">
                                    <video controls autoplay loop muted >
                                      <source src="/videos/test1.mp4" type="video/mp4" allowfullscreen>
                                      Your browser does not support HTML5 video.
                                    </video>
                                </div>

                                <div class="embed-responsive embed-responsive-4by3"  id="clicktoview">                                    
                                    <video controls autoplay loop muted >
                                      <source src="/videos/test2.mp4" type="video/mp4" allowfullscreen>
                                      Your browser does not support HTML5 video.
                                    </video>
                                </div>

                                <div class="embed-responsive embed-responsive-4by3"  id="clicktoview">
                                    <video controls autoplay loop muted >
                                      <source src="/videos/test3.mp4" type="video/mp4" allowfullscreen>
                                      Your browser does not support HTML5 video.
                                    </video>
                                </div>

                            </div>
                </div>
            </div>

            <div class="col-md-9">
                           <div class="col-sm-30" ><!-- main ad -->
                                <div class="embed-responsive embed-responsive-16by9">
                                    <video controls autoplay loop muted >
                                      <source id ="mainvideo" src="/videos/testvideo.mp4" type="video/mp4" allowfullscreen>
                                      Your browser does not support HTML5 video.
                                    </video>
                                </div>

                            </div>
            </div>

        </div><!-- row -->

    </div><!-- /.container -->

<!-- trying to do on-click switch the video -->
<script> 
  $('#clicktoview').on('click', function (this.attr.src) {
    $('#mainvideo').attr('src', '/videos/test1.mp4');
    console.log("hey");
  });
  $('#myModal').on('hide', function () {
    $('div.modal-body iframe#youtube').attr('src', '');
  });
</script>

    <% include ./partials_template/footer %>

</body>

</html>
