body {

  background: black;
}
   #content {
      margin:  auto;
   }

.flowplayer .fp-player {
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
}
.flowplayer .fp-engine, .flowplayer .fp-ui, .flowplayer .fp-message {
    position: absolute;
    top: 0;
    left: 20%;
    width: 80%;
    height: 100%;
    cursor: pointer;
    z-index: 1;
}

   #classic {
/* player (and playlist) background */
  background: #333 url("/media/img/demos/playlist/bakers.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
/* player (and playlist) background */
#classic.is-loading {
/* override background image when clip changes */
  background: #333;
}
